<md-sidenav-layout fullscreen>

  <md-sidenav #sidenav class="app-sidenav">
    <wt-nav-bar (clicked)="sidenav.close()"></wt-nav-bar>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>


  Workout timer
  </md-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-layout>

<span class="app-action">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>

